// Variables f/ Color Scheme
$gray: #0E0000;
$dark-green: #0f2e33;
$medium-green: #2f4a43;
$light-green: #5f8264;
$blue: #408f96;
$light-blue: #8fbec3;
$red: #e98157;
$yellow: #f8b42a;
$light-gray: #F4F4F4;
$white: #ffffff;
