// Define variables for your color scheme

// For example:
$red: #e98157;
$light-blue: #8fbec3;
$blue: #408f96;
$yellow: #f8b42a;
$light-green: #5f8264;
$medium-green: #2f4a43;
$dark-green: #0f2e33;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;

// Autoprefixer gem helps us with generating the right classes
// -webkit-color: blue;
// -mz-color: blue;
