// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://db.onlinewebfonts.com/c/51f9706a7f8218ee61d823a9b9eb8240?family=Mic+32+New+Rounded+W00+Light+It');
@import url("https://use.typekit.net/nzs3zfo.css");

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "mic-32-new-rounded-web";
$body-font: "mic-32-new-rounded-web";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Headers
h1, h2 {
  color: $white !important;
  font-family: $body-font;
  // font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 1,2rem !important;
}

h2 {
  font-size: 1rem !important;
}

.linkable-font {
  font-family: $body-font;
  font-size: 1rem;
}
