<div class="container">
  <div class="row">
    <div class="col-1"></div>
      <div class="col-10">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <%= image_tag "logo.png", class: "avatar"  %>
          </div>
          <div class="col-12 d-flex justify-content-center mt-3">
            <h1>HiveTracks</h1>
          </div>
          <div class="col-12 d-flex justify-content-center mb-3">
            <h2>Know your bees.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
