<div class="container text-center my-5">
  <h1 class="mb-4">Biodiversity Dashboard</h1>
    <p>
      <%= link_to 'Download Dashboard', asset_path('Biodiversity Dashboard.png'), download: "Biodiversity Dashboard", class: 'btn btn-custom' %>
    </p>
</div>
<div class="dashboard-image">
  <%= image_tag 'Biodiversity Dashboard.png',
    alt: "Biodiversity Dashboard",
    class: 'img-responsive',
    style: 'width: 100vw;'
  %>
</div>
