.navbar {
  justify-content: space-between;
  background: white;
  p {
    font-family: $body-font !important;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 35px;
}
