// * Link tree Admin & general Styling

// External libraries
@import "bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// CSS partials
@import "components/index";
@import "pages/index";

/* Find background linear gradient in application.html.erb */
/* .profile-page {
width: 100vw;
height: 100vh;
background-color: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,026)) 37%;
} */